/*
* Base Styles
* ========================================================================== */
.center-wrapper {
  max-width: $break-point;
  margin: 0 auto;
}

.hidden {
  display: none;
}



body {
  font: normal 17px/1.5 Avenir;
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  color: #222;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-align: justify;
}

article p {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: left;
  font-family: Avenir;
  font-weight: bold;
  a:link, a:hover, a:focus, a:visited { color: #333; text-decoration: none; }
  a:hover { text-decoration: underline; }
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.4em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }
h5 { font-size: .8em; }
h6 { font-size: .6em; }

.heading {
  font-size: 1.7em;
  font-weight: bold;
  font-family: Avenir;
  margin: .67em 0;
  a:link, a:hover, a:focus, a:visited {
    color: #fff;
  }
  word-break: break-word;
}

input[type="submit"],
button {
  border: 0;
  outline: 0;
}

textarea {
  resize: vertical;
}

/* hide text within the placeholder */
:focus::-webkit-input-placeholder {
  color: transparent;
}
:focus::-moz-placeholder {
  color: transparent;
}
:focus:-ms-input-placeholder {
  color: transparent;
}

/* box-sizing model */
*,
*:before,
*:after { box-sizing: border-box; }


/*
* Code Style
* ========================================================================== */
pre {
  line-height: 1.5;
  padding: 1em;
  background: #F9F8F6;
  margin: 2em 0;
  code {
    background-color: transparent;
    overflow: auto;
  }
}

code,
pre {
  font-family: "Menlo", 'Andale Mono', 'Consolas', monospace;
  font-size: .9em;
  line-height: 1.3;
  -webkit-font-smoothing: auto;
}



/*
* Table
* ========================================================================== */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin: 2% 0;
  overflow-x: auto;
  display: block;
  margin: 0 auto;
}

table tr:nth-child(even) {
  background: #f9f9f9;
}
table th {
  background: #f5f5f5;
  font-family: Avenir;
}
th,
td {
  text-align: left;
  padding: .313em .625em;
  border: 1px solid #efefef;
}
table caption {
  padding: .3em;
  border: 1px solid #ddd;
}


/*
* Blockquote
* ========================================================================== */
blockquote {
  border: 1px solid #ddd;
  padding: 1em 1em 1em 2em;
  position: relative;
  margin-left: 0;
  p {
    margin-top: 0;
    margin-bottom: 1em;
  }
  &:before {
    content: '"';
    position: absolute;
    left: .3em;
    top:0;
    font-size: 2em;
    line-height: 2em;
  }
}


/*
* Buttons
* ========================================================================== */
button, input[type="submit"] {
  border: none;
}

article a.btn {
  color: #fff;
  text-decoration: none;
}

.btn {
  font-weight: normal;
  text-align: center;
  padding: .5em;
  color: #fff;
  display: inline-block;
}

.share-buttons {
  text-align: center;
  height: 3em;
  padding: .5em 0;
  color: #333;
  a:link, a:focus {
    color: #333;
  }
  font-size: 1.5em;
  [class^="icon"]:before {
    background: #fff;
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 1px solid #ddd;
    transition: -webkit-transform .3s ease-in-out 0s;
    transition: transform .3s ease-in-out 0s;
  }
  [class^="icon"]:hover:before {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
}



/*
* JavaScript Classes
* ========================================================================== */
#shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  display: none;
  z-index: 1000;
}

#switcher {
  width: 10%;
  cursor: crosshair;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  display: none;
}

.transition-divs {
  transition: all .5s ease-in-out 0s;
}

.aside-left {
  left: -33% !important;
}

.centering {
  margin-left: calc(50% - (740px / 2)) !important;
  transition: all .5s ease-in-out 0s;
}

.hide {display: none !important; }


/*
* Others
* ========================================================================== */

.output {
  border-left: 10px solid #ffc802ed;
  margin: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
    0 1px 5px 0 rgba(0,0,0,.12),
    0 3px 1px -2px rgba(0,0,0,.2);
}
.flexOutside {
  display: flex;
}
.flexInside {
  flex: 1;
  margin-left: -30px;
  padding-top: 1em;
}
.flexInsideLarge {
  flex: 20;
}

.pquote {
  text-align: left;
  margin: 40px 0 40px auto;
  width: 70%;
  font-size: 1.5em;
  font-style: italic;
  display: block;
  line-height: 1.3em;
  color: #5a75a7;
  font-weight: 600;
  border-left: 5px solid rgba(90, 117, 167, .1);
  padding-left: 6px;
}
.noDeco {
  text-decoration: initial;
}
.borderAppears:hover {
  background-color: rgba(90, 117, 167, .05);
}
.notes {
  font-style: italic;
  display: block;
  margin: 40px 10%;
}

.copyright {
  z-index: 100;
  position: absolute;
  margin: auto;
  bottom: 0;
  right: 5px;
  color: white;
  font-size: 0.6em;
}
.salient {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}
img + em {
  text-align: center;
  display: block;
  color: gray;
  font-size: 0.9em;
  font-weight: 600;
}
.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-decoration: none;
}
.grid-item {
  text-align: center;
  word-wrap: break-word;
}


ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only{
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

div > ul.share-buttons > li > a > img {
  display: inline;
  margin: 0 auto;
}


.jupyterLink {
  width: 25%;
  display: block;
  margin: auto;
}
.jupyterImg {
  width: 100%;
  display: block;
}
.highlight {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.2),
    0 1px 5px 0 rgba(0,0,0,.12),
    0 3px 1px -2px rgba(0,0,0,.14);
}



.card-example {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 0 1em;
  margin: 1em;
  left: 0;
  right: 0;
  background-color: #ffffff;
  border: solid #fffaf7cc;
  border-width: 10px;
}



.card-post, .card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 1em;
  margin: 1em;
  left: 0;
  right: 0;
  background-color: #f6f6f6;
  border: solid white;
  border-width: 13px;
}
.card-post {
  height: 220px;
  width: 220px;
}

.card-post:hover, .card-section:hover {
    box-shadow: 5px 8px 25px 0px rgba(0,0,0,0.2) !important;
}

.card-post-img, .card-section-img {
  flex: 0 0 45%;
}

.card-post-text, .card-section-text {
  flex: 0 0 50%;
}

.card-post-text-title, .card-section-text-title {
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}
.card-post-text-title,
.card-post-text-description,
.card-post,
.grid-container,
.card-section-text-title,
.card-section-text-description {
  text-decoration: none;
}
.card-post > div > p > img {
  height: 100px;
  object-fit: contain;
}
.card-title {
  font-weight: bold;
  text-align: center;
}
.card-post-in {
  width: 100%;
}
.intro {
  font-weight: bold;
  text-align: center;
  line-height: 26pt;
}
.avatar {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1em;
  margin: 1em;
}
.avatar-img  {
  border-radius: 50%;
  padding: 0;
  margin: 0em 1em 0 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.avatar-txt {
  flex: 0 0 80%;
  text-align: left;
  color: #606060;
  line-height: 2em;
}
.projects {
  text-align: center;
}


.book-call-container {
  margin: 2% 10%;
  border-radius: 20px;
}
.book-call {
  display: block !important;
  font-size: 1.2em !important;
  font-family: Avenir Next !important;
}

.center {
  text-align: center;
}

.button-call2action {
  background: #2EBCE7;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.button-call2action:hover {
  background: #2ecde7;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.1);
}
.call2action-text {
  display: inline;
  font-family: Avenir Next;
  font-weight: bold;
}
.fa-calendar:before, {
  padding-right: 1em;
  font: normal normal normal 14px/1 FontAwesome;
}
.fa-check:before {
  padding-right: 0.8em;
  color: #2EBCE7;
  font: normal normal normal 14px/1 FontAwesome;
}
.call2action-container {
  text-align: center;
  display: block;
}
.skills-container {
  margin: auto;
  width: 50%;
}


/*
* Essential Math ribbon
* ========================================================================== */

.essential-math-ribbon {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1000;
  bottom: 0;
  border: 2px solid #ddd;
  text-align: center;
  font-size: 1.2em;
  background: #fdfdfdf2;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  /*border-radius: 15px;*/
  box-shadow: 7px 10px 11px 0px rgba(0,0,0,.14);
  padding: 0.3em;
}

.text-popup {
  text-align: center;
  flex: 0 0 85%;
  color: #2EBCE7;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  font-weight: 600;
}

.img-popup {
  text-align: center;
  flex: 0 0 30%;
}

.close-popup {
  text-align: center;
  flex: 0 0 5%;
  cursor: pointer;
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
  line-height: 0.5;
  color: #F57F53;
}

.text-highlight {
  color: #F57F53;
  text-decoration-color: #F57F53;
}
.text-highlight:hover {
  color: #00E64E;
}

.code-highlight-blue {
  color: #2EBCE7;
  background-color: #00c4ff26;
}


.subsection-toc {
  text-indent: 3em;
  margin: 0.1em
}
.collapsible-body {
  padding: 1rem !important;
}

.collapsible {
  width: 90% !important;
  margin: 1.5em auto !important;
}
.collapse-in {
  box-shadow: none !important;
  border: none !important;
  margin: 0 auto !important;
  width: 40% !important;
}


.no-click {
  cursor: default;
  pointer-events: none;
}
.collapsible-h1 {
  font-size: 1.3em;
  font-weight: 500;
}

.collapse-left {
  flex: 0 0 45%;
}
.collapse-right {
  flex: 0 0 55%;
  text-align: left;
  padding-left: 1em !important;
}
.collapse-out {
  display: flex !important;
}

.col-blue {
  color: #2EBCE7;
  font-weight: 500;
}
.col-red {
  color: #F57F53;
  font-weight: 500;
}
.col-gray {
  color: #A9A9A9;
}




.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;

  /* edit: fixes overlap error in IE7/8,
     make sure you have an empty gif
  background-image: url('empty.gif');*/
}


.language-plaintext > .highlight, .language-plaintext > .highlight > pre, .language-plaintext > .highlight > pre > code {
  background-color: #f4f4f4;
  box-shadow: none;
  color: #8d7387;
}

.language-plaintext > .highlight {
  border-left: 10px solid #ffc802ed;
  margin: 0;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),
    0 1px 5px 0 rgba(0,0,0,.12),
    0 3px 1px -2px rgba(0,0,0,.2);
}



.essential-math-title {
  color: #444362;
}

