

#mc_embed_signup {
  background-color: #ececec !important;
  margin: 0 !important;
}
#mc-embedded-subscribe {
  background-color: #2EBCE7 !important;
}
#mc_embed_signup_scroll > label {
  font-size: 22px !important;
  padding: 20px !important;
}
#mc-embedded-subscribe-form {
  padding: 25px 0 25px 0 !important;
}
#mc_embed_signup {
  margin: 50px 0px 50px 0px;
}
#mce-EMAIL {
  font-size: 18px;
}
#mc-embedded-subscribe {
font-size: 18px;
}



.subscribe-container {
  font-size: 14pt;
  margin-top: 1em !important;
  font-weight: bold;
  flex-flow: row wrap;
  padding: 0;
  border-radius: 20px;
}
.subscribe-title {
  width: 100%;
}
.subscribe-subtitle-img-container {
  width: 100%;
  display: flex;
  align-items: center;
}
.subscribe-img {
  padding: 0;
  margin-top: 1%;
  margin-bottom: 0;
  text-align: center;
}
.subscribe-subtitle {
  width: 100%;
  font-size: 14pt;
}
.subscribe-email-input-container {
  width: 100%;
}
.subscribe-email {
  width: 60% !important;
  margin-bottom: 0.5em !important;
  border-radius: 1em !important;
  height: 2em !important;
  font-size: 16px !important;
}
.subscribe-input-container {
  width: 100%;
}
.subscribe-input {
  width: 60% !important;
  border-radius: 1em !important;
  height: 2em !important;
  font-size: 16px !important;
  text-transform: uppercase !important;
}
