$lg-break-point: 1200px;
$break-point: 960px;
$md-break-point: 640px;
$sm-break-point: 320px;

$aside-width: 20%;
$content-wrapper-width: 75%;
$article-max-width: 1000px;
$post-margin-left: 25%;

$img: "../img";
$js: "../js";
$font: "../font";
