<div class="grid-container">
    <a href="/posts/Deep-Learning-Book-Series-2.1-Scalars-Vectors-Matrices-and-Tensors/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    1. Scalars, Vectors, Matrices and Tensors
                </p>

                <img src="../../assets/images/2.1/scalar-vector-matrix-tensor-1.png" width="400" alt="An example of a scalar, a vector, a matrix and a tensor" title="Difference between a scalar, a vector, a matrix and a tensor">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.2-Multiplying-Matrices-and-Vectors/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    2. Multiplying Matrices and Vectors
                </p>

                <img src="../../assets/images/2.2/dot-product.png" width="300" alt="An example of how to calculate the dot product" title="The dot product explained">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.3-Identity-and-Inverse-Matrices/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    3. Identity and Inverse Matrices
                </p>

                <img src="../../assets/images/2.3/identity-matrix.png" width="100" alt="Example of an identity matrix" title="An identity matrix">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.4-Linear-Dependence-and-Span/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    4. Linear Dependence and Span
                </p>

                <img src="../../assets/images/2.4/number-solutions-system-equations.png" width="700" alt="Examples of systems of equations with 0, 1 and an infinite number of solutions" title="System of equations with 0, 1 and an infinite number of solutions">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.5-Norms/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    5. Norms
                </p>

                <img src="../../assets/images/2.5/squared-L2-norm1.png" width="400" alt="Representation of the squared L2 norm in 3 dimensions" title="Representation of the squared L2 norm in 3 dimensions">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.6-Special-Kinds-of-Matrices-and-Vectors/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    6. Special Kinds of Matrices and Vectors
                </p>

                <img src="../../assets/images/2.6/diagonal-and-symmetric-matrices.png" width="400" alt="Example of a diagonal matrix and of a symmetric matrix" title="Example of a diagonal matrix and of a symmetric matrix">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.7-Eigendecomposition/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    7. Eigendecomposition
                </p>

                <img src="../../assets/images/2.7/unit-circle-eigenvectors.png" width="250" alt="Plot of the unit circle and its transformation by the matrix A" title="Transformation of the unit circle by the matrix A">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.8-Singular-Value-Decomposition/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    8. Singular Value Decomposition
                </p>

                <img src="../../assets/images/2.8/unit-circle-transformed-python.png" width="300" alt="The unit circle transformed by the matrix A" title="The unit circle transformed by the matrix A">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.9-The-Moore-Penrose-Pseudoinverse/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    9. The Moore-Penrose Pseudoinverse
                </p>

                <img src="../../assets/images/2.9/overdetermined-system-equations.png" width="300" alt="Example of three linear equations in 2 dimensions: this is an overdetermined system" title="Overdetermined system of equations">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.10-The-Trace-Operator/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    10. The Trace Operator
                </p>

                <img src="../../assets/images/2.10/trace-matrix.png" width="200" alt="Calculating the trace of a matrix" title="Calculating the trace of a matrix">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.11-The-determinant/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    11. The Determinant
                </p>

                <img src="../../assets/images/2.11/positive-negative-determinant.png" width="400" alt="Comparison of positive and negative determinant" title="Comparison of the effect of positive and negative determinants">
            </div>
        </div>
    </a>

    <a href="/posts/Deep-Learning-Book-Series-2.12-Example-Principal-Components-Analysis/">
        <div class="card-post">
            <div class="card-post-in">
                <p class="card-title">
                    12. Principal Components Analysis (PCA)
                </p>

                <img src="../../assets/images/2.12/gradient-descent.png" width="400" alt="Mechanism of the gradient descent algorithm" title="Mechanism of the gradient descent algorithm">
            </div>
        </div>
    </a>
</div>