<div class="grid-container">
    <div class="grid-item">
        1. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.1-Scalars-Vectors-Matrices-and-Tensors/">
            Scalars, Vectors, Matrices and Tensors

            <img src="../../assets/images/2.1/scalar-vector-matrix-tensor-1.png" width="400" alt="An example of a scalar, a vector, a matrix and a tensor" title="Difference between a scalar, a vector, a matrix and a tensor">
        </a>
    </div>
    <div class="grid-item">
        2. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.2-Multiplying-Matrices-and-Vectors/">
            Multiplying Matrices and Vectors

            <img src="../../assets/images/2.2/dot-product.png" width="300" alt="An example of how to calculate the dot product" title="The dot product explained">
        </a>
    </div>
    <div class="grid-item">
        3. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.3-Identity-and-Inverse-Matrices/">
            Identity and Inverse Matrices

            <img src="../../assets/images/2.3/identity-matrix.png" width="100" alt="Example of an identity matrix" title="An identity matrix">
        </a>
    </div>
    <div class="grid-item">
        4. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.4-Linear-Dependence-and-Span/">
            Linear Dependence and Span

            <img src="../../assets/images/2.4/number-solutions-system-equations.png" width="700" alt="Examples of systems of equations with 0, 1 and an infinite number of solutions" title="System of equations with 0, 1 and an infinite number of solutions">
        </a>
    </div>
    <div class="grid-item">
        5. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.5-Norms/">
            Norms

            <img src="../../assets/images/2.5/squared-L2-norm1.png" width="400" alt="Representation of the squared L2 norm in 3 dimensions" title="Representation of the squared L2 norm in 3 dimensions">
        </a>
    </div>
    <div class="grid-item">
        6. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.6-Special-Kinds-of-Matrices-and-Vectors/">
            Special Kinds of Matrices and Vectors

            <img src="../../assets/images/2.6/diagonal-and-symmetric-matrices.png" width="400" alt="Example of a diagonal matrix and of a symmetric matrix" title="Example of a diagonal matrix and of a symmetric matrix">
        </a>
    </div>
    <div class="grid-item">
        7. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.7-Eigendecomposition/">
            Eigendecomposition

            <img src="../../assets/images/2.7/unit-circle-eigenvectors.png" width="250" alt="Plot of the unit circle and its transformation by the matrix A" title="Transformation of the unit circle by the matrix A">
        </a>
    </div>
    <div class="grid-item">
        8. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.8-Singular-Value-Decomposition/">
            Singular Value Decomposition

            <img src="../../assets/images/2.8/unit-circle-transformed-python.png" width="300" alt="The unit circle transformed by the matrix A" title="The unit circle transformed by the matrix A">
        </a>
    </div>
    <div class="grid-item">
        9. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.9-The-Moore-Penrose-Pseudoinverse/">
            The Moore-Penrose Pseudoinverse

            <img src="../../assets/images/2.9/overdetermined-system-equations.png" width="300" alt="Example of three linear equations in 2 dimensions: this is an overdetermined system" title="Overdetermined system of equations">
        </a>
    </div>
    <div class="grid-item">
        10. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.10-The-Trace-Operator/">
            The Trace Operator

            <img src="../../assets/images/2.10/trace-matrix.png" width="200" alt="Calculating the trace of a matrix" title="Calculating the trace of a matrix">
        </a>
    </div>
    <div class="grid-item">
        11. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.11-The-determinant/">
            The Determinant

            <img src="../../assets/images/2.11/positive-negative-determinant.png" width="400" alt="Comparison of positive and negative determinant" title="Comparison of the effect of positive and negative determinants">
        </a>
    </div>
    <div class="grid-item">
        12. <a href="https://hadrienj.github.io/posts/Deep-Learning-Book-Series-2.12-Example-Principal-Components-Analysis/">
            Example: Principal Components Analysis

            <img src="../../assets/images/2.12/gradient-descent.png" width="400" alt="Mechanism of the gradient descent algorithm" title="Mechanism of the gradient descent algorithm">
        </a>
    </div>
</div>