

<div class="card-section" style="margin-bottom: 4rem;">
  <div class="card-section-text" style="flex: 0 0 60%">
    <div class="card-section-text-title essential-math-title" style="margin-bottom: 1em;">
      This post is a sample of my book <b>Essential Math for Data Science</b>!
    </div>


    <p>Learn the math needed for data science and machine learning
    using a <span style="color: #84EE29; background-color: #efffe1; font-weight: 600;">practical approach with Python</span>.</p>

    <div style='text-align: center'>


          <p>
            <a
            href="https://www.essentialmathfordatascience.com/?utm_source=hadrienj&utm_medium=blog&utm_campaign=hadrienj{{page.path | replace: 'posts/', ''}}"
            class="waves-effect waves-light btn"
            style="text-decoration: none; background-color: #f87188">
            <b>GET THE BOOK</b>
          </a></p>
        </div>
  </div>

  <div class="card-section-img" style="flex: 0 0 40%>
    <a href="https://www.essentialmathfordatascience.com"><img src="../../assets/images/cover_free_sample.jpg" width="200px"/></a>
  </div>

</div>
