<div class="essential-math-ribbon" style="display: none;">
    <div class="text-popup">
  		Want to get more math for data science and machine learning?
  		I'm writting the book <a class="text-highlight" href="{% post_url 2020-02-28-Essential-Math-for-Data-Science %}">"Essential Math for Data Science"</a> with O'Reilly.
  	</div>
  	<!-- <div class="img-popup">
  		<a href="{% post_url 2020-02-28-Essential-Math-for-Data-Science %}">
  			<img id="cover_col-popup-img" src="{{ site.baseurl }}/assets/images/cover_col_cropped.jpg" width="60%">
  		</a>
  	</div> -->
  	<div class="close-popup" onclick="hide();">x</div>
</div>
