
{::options parse_block_html="false" /}

  <div class="card-section" style="position: relative; margin: 4em 0;">
    <div class="card-section-text" style="flex: 0 0 60%">
      <div class="card-section-text-title" style="margin-bottom: 1em;">
        Essential Math for Data Science
      </div>
      If you want to learn more math for data science and machine learning using <span style="color: #84EE29; background-color: #efffe1; font-weight: 600;">Python</span>, check my book
      <a href="https://www.essentialmathfordatascience.com">Essential Math for Data Science</a>.

    </div>
    <div class="card-section-img" style="flex: 0 0 40%">
      <a href="https://www.essentialmathfordatascience.com"><img src="../../assets/images/cover.jpg" width="150px"/></a>
    </div>

    <a href="https://www.essentialmathfordatascience.com" class="noDeco">
      <span class="link-spanner"></span>
    </a>

  </div>

{::options parse_block_html="true" /}
