<div class="card-section card-section-ribbon">

  <div class="card-section-text essential-math-text" style="flex: 0 0 40%">
    <div class="card-section-text-title" style="margin-bottom: 0.5em; ; font-weight: bold;">
      Essential Math for Data Science
    </div>

    <div class="more-math">More math for data science and machine learning?</div>
    <div class="get-book">
      Get my book <b>Essential Math for Data Science</b>.
    </div>

    <!--           <div style='text-align: center'>
            Use the offer code <span style="color: #F96CFA; font-weight: bold;">hadrienj2020</span> and benefit from a <b>BIG DISCOUNT</b>!
          </div> -->
  </div>


  <div class="card-section-ribbon-img essential-math-img">
    <a href="https://www.essentialmathfordatascience.com" class="eventTag">
      <img src="../../assets/images/cover.jpg" width="80%" style="padding: 0; margin: 0; display: inline;" />
    </a>
  </div>

  <div class="card-section-ribbon-offer" style="flex: 0 0 30%">
    <div class="offer" style="margin-bottom: 0.3rem; font-size: 1.3rem;">
      Great offer before:</br><b>30 SEP 23</b>
    </div>
    <div>
      <a href="https://www.essentialmathfordatascience.com"
        class="waves-effect waves-light btn eventTag button-get-the-book">
        <b>GET THE BOOK</b>
      </a>
    </div>
  </div>

</div>