<footer class="blog-footer content-wrapper">
  <p><span class="full-year"></span> - {{ site.title }} - <span><a href="{{ site.baseurl }}/privacy">Privacy</a></span></p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

{% if page.mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ["$", "$"], ["\\(","\\)"] ],
        displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
      },
      "HTML-CSS": { linebreaks: { automatic: true } },
      SVG: { linebreaks: { automatic: true } },
      jax: ["input/TeX", "output/SVG"],
      TeX: {
        Macros: {
          bs: ["\\boldsymbol{#1}", 1],
          var: "{\\text{Var}",
          corr: "{\\text{Corr}",
          cov: "{\\text{Cov}",
          expval: "\\mathbb{E}",
          norm: ["\\lVert #1 \\rVert", 1],
          setR: "{\\rm I\\!R}",
          rx: "{\\textrm{X}}",
          ry: "{\\textrm{Y}}",
          rz: "{\\textrm{Z}}",
          rvx: "{\\textbf{X}}",
          rvy: "{\\textbf{Y}}",
          rvz: "{\\textbf{Z}}",
          vtheta: "{\\boldsymbol{\\theta}}",
          va: "{\\boldsymbol{a}}",
          vb: "{\\boldsymbol{b}}",
          vi: "{\\boldsymbol{i}}",
          vj: "{\\boldsymbol{j}}",
          vp: "{\\boldsymbol{p}}",
          vq: "{\\boldsymbol{q}}",
          vu: "{\\boldsymbol{u}}",
          vv: "{\\boldsymbol{v}}",
          vw: "{\\boldsymbol{w}}",
          vx: "{\\boldsymbol{x}}",
          vy: "{\\boldsymbol{y}}",
          vz: "{\\boldsymbol{z}}",
          evu: "{u}",
          evv: "{v}",
          evw: "{w}",
          evx: "{x}",
          evy: "{y}",
          evz: "{z}",
          mA: "{\\boldsymbol{A}}",
          mB: "{\\boldsymbol{B}}",
          mC: "{\\boldsymbol{C}}",
          mD: "{\\boldsymbol{D}}",
          mI: "{\\boldsymbol{I}}",
          mQ: "{\\boldsymbol{Q}}",
          mS: "{\\boldsymbol{S}}",
          mT: "{\\boldsymbol{T}}",
          mU: "{\\boldsymbol{U}}",
          mV: "{\\boldsymbol{V}}",
          mW: "{\\boldsymbol{W}}",
          mX: "{\\boldsymbol{X}}",
          mLambda: "{\\boldsymbol{\\Lambda}}",
          mSigma: "{\\boldsymbol{\\Sigma}}",
          emA: "{A}",
          emB: "{B}",
          emX: "{X}",
          tT: "{T}",
          Tr: "\\text{Tr}",
          argmin: "\\newcommand\\argmin[1]{\\underset{\\bs{#1}}{\\arg\\min}}",
          argmax: ["\\underset{#1}{\\arg\\max} ", 1]
        }
      },
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <div style="display: none">
    <!-- add latex commands -->
      $$
        \newcommand\bs[1]{\boldsymbol{#1}}
        \newcommand\norm[1]{\left\lVert#1\right\rVert}
        \DeclareMathOperator{\Tr}{Tr}
        \newcommand\argmin[1]{\underset{\bs{#1}}{\arg\min}}
        \newcommand\argmax[1]{\underset{\bs{#1}}{\arg\max}}
      $$
  </div>
{% endif %}
