<footer class="blog-footer content-wrapper">
  <p><span class="full-year"></span> - {{ site.title }}</p>
</footer>
<script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

{% if page.mathjax %}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ["$", "$"], ["\\(","\\)"] ],
        displayMath: [ ["$$","$$"], ["\\[", "\\]"] ],
      },
      "HTML-CSS": { linebreaks: { automatic: true } },
      SVG: { linebreaks: { automatic: true } },
      jax: ["input/TeX", "output/SVG"],
    });
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <div style="display: none">
    <!-- add latex commands -->
      $$
        \newcommand\bs[1]{\boldsymbol{#1}}
        \newcommand\norm[1]{\left\lVert#1\right\rVert}
        \DeclareMathOperator{\Tr}{Tr}
        \newcommand\argmin[1]{\underset{\bs{#1}}{\arg\min}}
        \newcommand\argmax[1]{\underset{\bs{#1}}{\arg\max}}
      $$
  </div>
{% endif %}