<header class="main-header content-wrapper">

  <input type="checkbox" id="menu-checkbox" />

  <nav class="center-wrapper nav-main">

    {% for my_page in site.pages %}
      {% if my_page.active %}
        {% if page.title == my_page.title %}
          <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% else %}
          <a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
        {% endif %}
      {% endif %}

    {% endfor %}

    <label for="menu-checkbox" class="toggle-button" data-open="☰" data-close="☰" onclick></label>

  </nav>

</header>
