{::options parse_block_html="false" /}

<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=df37f925c169d6d2b29f75eef&amp;id=ea1286593f&SIGNUP={{ page.url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
  <div class='card-section subscribe-container'>

    <div class="subscribe-email-input-container">
      <label for="mce-EMAIL" class="subscribe-title">More Math for Data Science? Don't miss new articles.<br>And receive updates about my book <a href="https://www.essentialmathfordatascience.com">"Essential Math for Data Science"</a><br></label>

      <div style="width: 100%;">
        <input type="email" value="" name="EMAIL" class="email subscribe-email" id="mce-EMAIL" placeholder="email address" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_df37f925c169d6d2b29f75eef_ea1286593f" tabindex="-1" value="">
        </div>
        <div class="clear subscribe-input-container">
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button subscribe-input">
        </div>
      </div>
    </div>

  </div>
</form>
</div>


{::options parse_block_html="true" /}
