---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>
  <div id="shadow"></div>

  {% include header.html %}

  {% if page.essential-math %}
  {% include essential-math-ribbon.html %}
  {% endif %}

  {% unless page.exclude %}
  {% include aside.html %}
  {% endunless %}

  <main class="content-wrapper">
    {{ content }}
  </main>

  {% include footer.html %}

</body>

<script>

  // Ensure the script runs only after the DOM is fully loaded
  document.addEventListener("DOMContentLoaded", function() {
    // Get the current date
    const currentDate = new Date();
    const currentMonth = currentDate.toLocaleString("default", { month: "short" }).toUpperCase(); // e.g., "NOV"
    const currentYear = currentDate.getFullYear().toString().slice(-2); // last two digits of the year
    const offerDate = `29 ${currentMonth} ${currentYear}`;
    const offerCode = `${currentMonth}${currentYear}`; // e.g., "NOV24"
    console.log(offerCode, offerDate, "asdf1")

    // Set the date and offer code in the HTML
    document.getElementById("offer-date").innerText = offerDate;
    document.getElementById("offer-code").innerText = offerCode;
  });
</script>

</html>